.miperfil {
    width: 32px;
    height: 32px;
}
.mipadding{
    padding: 0 .5em;
}
.mi-background{
   background-image:url('../images/sky-828648_1280.jpg'); height: 60vh; max-height:460px;
}

.no-underline{
    text-decoration: none !important;
}
@keyframes scaleUpDown {
    0%,
    100% {
        transform: scaleY(1) scaleX(1);
    }
    50%,
    90% {
        transform: scaleY(1.1);
    }
    75% {
        transform: scaleY(0.95);
    }
    80% {
        transform: scaleX(0.95);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: skewX(0) scale(1);
    }
    50% {
        transform: skewX(5deg) scale(0.9);
    }
}

@keyframes particleUp {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -100%;
        transform: scale(0.5);
    }
}

@keyframes glow {
    0%,
    100% {
        background-color: #ef5a00;
    }
    50% {
        background-color: #ff7800;
    }
}

.fire-beginer {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.fire-intermediate {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.fire-advanced {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.fire-main {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: scaleUpDown 3s ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fire-main .main-fire {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(farthest-corner at 10px 0, #d43300 0%, #ef5a00 95%);
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #d43322);
}

.fire-main .particle-fire {
    position: absolute;
    top: 60%;
    left: 45%;
    width: 10px;
    height: 10px;
    background-color: #ef5a00;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fire-right {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: shake 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fire-right .main-fire {
    position: absolute;
    top: 15%;
    right: -25%;
    width: 80%;
    height: 80%;
    background-color: #ef5a00;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #d43322);
}

.fire-right .particle-fire {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #ef5a00;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fire-left {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: shake 3s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fire-left .main-fire {
    position: absolute;
    top: 15%;
    left: -20%;
    width: 80%;
    height: 80%;
    background-color: #ef5a00;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #d43322);
}

.fire-left .particle-fire {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 10%;
    height: 10%;
    background-color: #ef5a00;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 3s infinite ease-out 0;
    animation-fill-mode: both;
}

.fire-bottom .main-fire {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 75%;
    height: 75%;
    background-color: #ff7800;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 100% 40%;
    filter: blur(10px);
    animation: glow 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}


.markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
    }

    @media (max-width: 767px) {
        .markdown-body {
            padding: 15px;
        }
    }

    /* 
// Facebook like loading box
// with ❤ by @Pawan_Mall
// http://www.pawanmall.net 
*/




.FB-Loading-Card{
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border-bottom: rgb(208, 209, 213) solid 1px;
  border-left: rgb(223, 224, 228) solid 1px;
  border-right-color: rgb(223, 224, 228) solid 1px;
  border-top-color: rgb(229, 230, 233) solid 1px;
  display: block;
  padding: 12px;
}

/* FB Loading - First Box */
.FB-Loading-Card > div:nth-child(1){
  width:100%;
  height:30px;
}

/* FB Loading - Image Box */
.FB-Loading-Card > div > div:nth-child(1){
  position:relative;
  left:0;
  background-color: #282c34;
  height: 40px;
  width: 40px;
  animation-name: shine; 
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* FB Loading - First Row */
.FB-Loading-Card > div > div:nth-child(2), 
/* FB Loading - Second Row */
.FB-Loading-Card > div > div:nth-child(3), 
/* FB Loading - Third Row */
.FB-Loading-Card > div:nth-child(2), 
/* FB Loading - Fourth Row */
.FB-Loading-Card > div:nth-child(3), 
/* FB Loading - Fifth Row */
.FB-Loading-Card > div:nth-child(4){
  position:relative;
  background-color: #282c34;
  height: 6px;
  animation-name: shine; 
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes shine {
    from {transition:none;}
    to {background-color:#f6f7f8;transition: all 0.3s ease-out;}
}

/* FB Loading - First Row */
.FB-Loading-Card > div > div:nth-child(2){
  left:50px;
  top:-33px;
  width: 25%;
}

/* FB Loading - Second Row */
.FB-Loading-Card > div > div:nth-child(3){
  left:50px;
  top:-20px;
  width: 15%;
}

/* FB Loading - Third Row */
.FB-Loading-Card > div:nth-child(2){
  left:0px;
  top:30px;
  width: 80%;
}

/* FB Loading - Fourth Row */
.FB-Loading-Card > div:nth-child(3){
  left:0px;
  top:45px;
  width: 90%;
}

/* FB Loading - Fifth Row */
.FB-Loading-Card > div:nth-child(4){
  left:0px;
  top:60px;
  width: 50%;
}